<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rcompton.rhsr"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="16" />

    <!-- Can get to the internet Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:clearTaskOnLaunch="true" >

        <activity
            android:name="com.rcompton.rhsr.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- <activity -->
        <!-- android:name="com.rcompton.rhsr.PhotoReportButtonActivity" -->
        <!-- android:label="@string/title_activity_photo_report_button" -->
        <!-- android:parentActivityName="MainActivity" > -->
        <!-- <meta-data -->
        <!-- android:name="android.support.PARENT_ACTIVITY" -->
        <!-- android:value="MainActivity" /> -->
        <!-- </activity> -->

        <activity
            android:name=".TwitterOAuthActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="Rush Hour Surf Report"
            />

        <!-- android:launchMode="singleTask" -->
        <!-- android:parentActivityName="MainActivity" > -->
        <!-- <meta-data -->
        <!-- android:name="android.support.PARENT_ACTIVITY" -->
        <!-- android:value="MainActivity" /> -->
        <!-- </activity> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.VIEW" /> -->
        <!-- <category android:name="android.intent.category.DEFAULT" /> -->
        <!-- <category android:name="android.intent.category.BROWSABLE" /> -->
        <!-- <data -->
        <!-- android:host="rhsrcallbackhost" -->
        <!-- android:scheme="x-oauthflow-twitter" /> -->
        <!-- </intent-filter> -->

        <activity
            android:name="com.rcompton.rhsr.TweetActivity"
            android:label="Rush Hour Surf Report"
            >
        </activity>
    </application>

</manifest>
